name: Deploy sphinx docs

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: macos-latest

    steps:
      - uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.9'

      - name: install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements_docs.txt

      - name: build docs
        run: |
          sphinx-build -b html docs/ docs/_build/html

      - name: deploy to gh pages
        run: |
          ghp-import -n -p docs/_build/html

